/* Affects all elements */
*{
    background-color: #13293d;
    color: #8FD8D8;
    font-size: 1em;
    
}

body{
    margin: 0% 5%; 
}

/* All things related to the header and the nav */
header {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #3A86FF;
}
  
nav h1 {
    display: flex;
    font-size: 200%;
    margin-left: 1em;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
  
nav a {
    color: #3A86FF;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: goldenrod;
}


/* Hero is technically in the body but is not what I would consider an active element */
.hero{
    width: 100%;
    content: url("../images/AdobeStock_426122694.jpeg");
}

/* Everything in the actual content body */

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: aqua;
}

aside{
    width: 20%;
    background-color: greenyellow;
    
}

main {
    width: 80%;
    background-color: red;
    
}

div.projects{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
}

section.project{
    margin: 5px;
    width: 45%;
    background-color: green;

}

.projects #project1{
    background-color: chocolate;
    width: 100%;
    text-align: center;

}

img{
    height: 180px;
    width: 360px;
}

#project1 img{
    height: 360px;
    width: 720px;
}

.contactinfo{
    width: 100%;
    justify-content: center;
}

.contactinfo ul{
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.contactinfo ul li{
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}


/* All things footer */
footer{
    display: inline-block;
}

.center{
    text-align: center;
}

footer ul{
    display: none;
}

.citations:hover ul{
    display: block;
}

/* 
Possible colors:

colors:
Nav bg color: #13293d
Nav link color: #b9C6ae;

coloors.com
Fluorescent cyan: #34F6F2
Non Photo Blue: #78E3FD
Dark Purple: #270722
Blue Violet: #8338EC
Azure: #3A86FF

colors.dopely.top
Sapphire: #0C023E
Midnight Blue: #1D2570


ChatGPT - recommendations
Dark blue: #0B3D91
Dark royal purple: #3B1344
Dark amethyst: #6D4B8F
Lime green: #00FF00
Light blue (Crayola): 8FD8D8 
Soft purple: #AFBFE9
Chartreuse green: #7FFF00
Deep teal (Pantone):#19454B
Soft pink:#EBCEDA
Burnt orange: #FF7034
Soft yellow: #EEEE9B

} */