/* Affects all elements */
*{
    background-color: #13293d;
    color: #8FD8D8;
}
p{
    text-indent: 1em;
}

/* All things related to the header and the nav */
header {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #3A86FF;
}
  
nav h1 {
    display: flex;
    font-size: 200%;
    margin-left: 1em;
    order: 1;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    order: 2;
}
  
nav a {
    color: #3A86FF;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: goldenrod;
}


/* Hero is technically in the body but is not what I would consider an active element */
.hero{
    width: 100%;
    content: url("../images/AdobeStock_426122694.jpeg");
}

/* Everything in the actual content body */

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* background-color: aqua; */
}

aside{
    margin: 2%;
    width: 36%;
/*     background-color: greenyellow;
 */    order: 3;
}

aside img{
    height: 100%; 
    width: 100%; 
    object-fit: contain;
}

main {
    margin: 2%;
    width: 56%;
    /* background-color: red; */
    order: 4;
}

div.projects{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
}

section.project{
    margin: 5px;
    width: 45%;
    text-align: center;
    /* background-color: green; */
}

.project:hover{
    border: 2px solid goldenrod;
    box-shadow: 5px 5px #13293d;
}

.projects #project1{
    /* background-color: chocolate; */
    width: 100%;
    text-align: center;
}

.projects img{
    height: 100%; 
    width: 100%; 
    object-fit: contain;
}

#project1 img{
    /* height: 360px;
    width: 720px; */
    height: 100%; 
    width: 100%;
    object-fit: contain;
}

.contactinfo{
    margin: 2%;
    width: 100%;
    justify-content: center;
    order: 5;
}

.contactinfo ul{
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.contactinfo ul li{
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}

#contactinfo a{
    text-decoration: none;
}
#contactinfo a:hover{
    border: 2px solid goldenrod;
}


/* All things footer */
footer{
    margin: 2%;
    display: inline;
    order: 6;
}

footer section{
    margin: 2%;
}

footer ul{
    display: none;
}

.citations:hover ul{
    display: block;
    border: 2px solid goldenrod;
    
}

#copyright{
    text-align: center;
}
/* 
Possible colors:

colors:
Nav bg color: #13293d
Nav link color: #b9C6ae;

coloors.com
Fluorescent cyan: #34F6F2
Non Photo Blue: #78E3FD
Dark Purple: #270722
Blue Violet: #8338EC
Azure: #3A86FF

colors.dopely.top
Sapphire: #0C023E
Midnight Blue: #1D2570


ChatGPT - recommendations
Dark blue: #0B3D91
Dark royal purple: #3B1344
Dark amethyst: #6D4B8F
Lime green: #00FF00
Light blue (Crayola): 8FD8D8 
Soft purple: #AFBFE9
Chartreuse green: #7FFF00
Deep teal (Pantone):#19454B
Soft pink:#EBCEDA
Burnt orange: #FF7034
Soft yellow: #EEEE9B

} */