*{
    background-color: #13293d;
    color: #8FD8D8;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #3A86FF;
    
}
  
nav h1 {
    display: flex;
    font-size: 200%;
    margin-left: 1em;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
  
nav a {
    color: #3A86FF;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: goldenrod;
}

body {
    font-size: 1em;
    display: block;
}

.hero{
    width: 100%;
    content: url("../images/AdobeStock_426122694.jpeg");
}

aside{
    display: flex;
    justify-self: left;
    width: 20%;
    height: 100vh;
    background-color: greenyellow;
    flex-direction: column;
}

main {
    display: flex;
    height: 100vh;
    width: 80%;
    flex: auto;
    flex-wrap: wrap;
    background-color: red;
    flex-direction: column;
}

footer{
    display: block;
}

footer ul{
    display: none;
}

.citations:hover ul{
    display: block;
}

/* 
Possible colors:

colors:
Nav bg color: #13293d
Nav link color: #b9C6ae;

coloors.com
Fluorescent cyan: #34F6F2
Non Photo Blue: #78E3FD
Dark Purple: #270722
Blue Violet: #8338EC
Azure: #3A86FF

colors.dopely.top
Sapphire: #0C023E
Midnight Blue: #1D2570


ChatGPT - recommendations
Dark blue: #0B3D91
Dark royal purple: #3B1344
Dark amethyst: #6D4B8F
Lime green: #00FF00
Light blue (Crayola): 8FD8D8 
Soft purple: #AFBFE9
Chartreuse green: #7FFF00
Deep teal (Pantone):#19454B
Soft pink:#EBCEDA
Burnt orange: #FF7034
Soft yellow: #EEEE9B

} */